@import "./../../../styles/_variables";

.inputMessage {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: $message-block-height;
  margin-bottom: 5px;

  border-top: 1px solid $emperor;
  background-color: $boulder;

  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    height: 100%;
  }

  &__name {
    font-size: 12px;
    line-height: 130%;

    color: $white;
  }
}

.input {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 400px;

  &__input {
    width: 100%;
    height: 30px;
    padding: 0 35px 0 10px;

    outline: none;
    border-radius: 4px;
    border: none;

    &::placeholder {
      color: lighten($boulder, 24%);
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;

    cursor: pointer;
    background: transparent;
    border: none;

    &-img {
      transition: transform 0.15s ease-in-out;

      &:hover {
        transform: scale(105%);
      }
    }
  }
}
