@import "./../../../styles/variables";

.changerLanguage {
  position: relative;

  display: none;
  width: 30px;
  height: 30px;
  margin-left: 20px;

  cursor: pointer;

  background-color: transparent;
  border: none;

  @media screen and (min-width: $breakpoint-tablet) {
    display: block;
  }

  &__currentLang {
    position: absolute;
    bottom: 0;
    right: -5px;

    width: 20px;
    height: 20px;

    border: 0.5px solid #000000;
    border-radius: 50%;
  }
}
