@import "./../../../../styles/_variables";

.message {
  display: flex;
  flex-direction: row;
  align-self: flex-start;

  & + & {
    margin-top: 10px;
  }

  &__avatar {
    $parametr: 30px;

    width: $parametr;
    height: $parametr;

    border-radius: 50%;
  }

  &__outer {
    height: 20px;

    margin-bottom: 8px;
  }

  &__block {
    display: flex;
    flex-direction: column;

    margin-left: 10px;
    padding: 4px 10px;

    background-color: $color-white;
    border-radius: 4px;

    &-name {
      font-size: 10px;

      margin-bottom: 4px;
    }

    &-date {
      font-size: 8px;

      display: block;

      color: $color-boulder;
    }

    &-message {
      @media screen and (min-width: $breakpoint-tablet) {
        max-width: 340px;
      }

      @media screen and (min-width: $breakpoint-desktop) {
        max-width: 600px;
      }
    }
  }

  &--self {
    align-self: flex-end;
    flex-direction: row-reverse;
  }

  &--self & {
    &__block {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}
