// fonts

$main: "Rubik", sans-serif;
$second: "Titillium Web", sans-serif;

// break-points

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

// layout

$width-container: 1280px;

$header-height-mobile: 40px;
$header-height-tablet: 60px;

// colors (naming by http://chir.ag/projects/name-that-color)

$white: #ffffff;
$mine-shaft: #363434;

$header-bg: $mine-shaft;
