// fonts

$main: "Rubik", sans-serif;
$second: "Titillium Web", sans-serif;

// break-points

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

// layout

$width-container: 1280px;

$header-height-mobile: 40px;
$header-height-tablet: 60px;

$gap-page-mobile: 10px;
$gap-page-tablet: 16px;
$gap-page-desktop: 20px;

$message-block-height: 70px;

// colors (naming by http://chir.ag/projects/name-that-color)

$white: #ffffff;
$mine-shaft: #363434;
$emperor: #525252;
$boulder: #7a7a7a;
$alto: #d3d3d3;
$persimmon: #ff6347;

$header-bg: $mine-shaft;
