@import "./_variables";
@import "./_mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: $main;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  background-color: $emperor;
}
