@import "/src/styles/mixins.scss";

.photopage {
  margin-top: $header-height-mobile;
  padding: $gap-page-mobile 0;

  @media screen and (min-width: $breakpoint-tablet) {
    margin-top: $header-height-tablet;
  }

  &__title {
    @include gapBlock;
    @include title;

    text-align: center;
  }

  &__swipers {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;

    @media screen and (min-width: $breakpoint-tablet) {
      flex-wrap: wrap;
      flex-direction: row;

      margin-top: 30px;
    }
  }
}
