@import "./../../styles/_variables";

.wrapper {
  width: 100%;
  max-width: $width-container;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

  background-color: $emperor;

  @media screen and (min-width: $breakpoint-tablet) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
