@import "./../../styles/variables";
@import "./../../styles/mixins";

.accordion {
  &__title {
    font-size: 16px;
    font-weight: 500;

    position: relative;

    width: 100%;
    padding: 8px 40px 8px 10px;

    text-align: left;

    @media screen and (min-width: $breakpoint-tablet) {
      font-size: 20px;

      padding: 8px 60px 8px 20px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
      font-size: 22px;

      padding: 8px 80px 8px 40px;
    }
  }

  &__toggleButton {
    position: absolute;
    top: 50%;
    right: 4px;

    width: 24px;
    height: 24px;

    transform: translateY(-50%);

    @media screen and (min-width: $breakpoint-tablet) {
      right: 20px;

      width: 30px;
      height: 30px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
      right: 40px;

      width: 40px;
      height: 40px;
    }
  }

  &__arrow {
    transition: transform 0.2s ease-in-out;

    width: 100%;

    height: 100%;
  }

  &__content {
    @include text;

    color: $mine-shaft;

    @media screen and (min-width: $breakpoint-desktop) {
      padding: 8px 20px;
    }
  }

  &__photo {
    display: block;

    width: 100%;
    max-width: 700px;
    margin: 20px auto;

    border-radius: 10px;

    @media screen and (min-width: $breakpoint-tablet) {
      margin: 30px auto;
    }

    @media screen and (min-width: $breakpoint-desktop) {
      margin: 40px auto;
    }
  }
}

.szh-accordion {
  overflow: hidden;

  width: 100%;

  border-radius: 4px;
  border: 1px solid $boulder;

  margin-bottom: 20px;

  @media screen and (min-width: $breakpoint-tablet) {
    margin-bottom: 30px;

    border-radius: 8px;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    border-radius: 12px;
  }

  &__item {
    width: 100%;

    & + & {
      border-top: 1px solid $boulder;
    }

    &-btn {
      width: 100%;
      height: 40px;

      cursor: pointer;

      background-color: $white;
      border: none;

      @media screen and (min-width: $breakpoint-tablet) {
        height: 60px;
      }

      @media screen and (min-width: $breakpoint-desktop) {
        height: 70px;
      }
    }
  }

  & .szh-accordion__item--expanded {
    .szh-accordion__item {
      &-btn {
        background-color: $alto;

        color: $mine-shaft;
      }

      &-panel {
        font-size: 14px;
        background-color: $white;

        padding: 10px 20px;
      }
    }

    .accordion__arrow {
      transform: rotate(-180deg);

      fill: $white;
    }
  }
}
