@import "./../../styles/_variables";

.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: $breakpoint-desktop;
  height: $header-height-mobile;
  margin-left: auto;
  margin-right: auto;

  background-color: $header-bg;
  border-bottom: 1px solid $white;

  @media screen and (min-width: $breakpoint-tablet) {
    height: $header-height-tablet;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding-left: 10px;
  padding-right: 10px;

  @media screen and (min-width: $breakpoint-tablet) {
    height: $header-height-tablet;
    max-width: $width-container;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    max-width: $breakpoint-desktop;
    padding-left: 100px;
    padding-right: 100px;
  }

  &__hamburger {
    @media screen and (min-width: $breakpoint-tablet) {
      display: none;
    }
  }
}
