@import "./../../styles/_variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  width: 100%;
  max-width: $width-container;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: $header-height-mobile;

  background-color: $header-bg;
  border-bottom: 1px solid $white;

  @media screen and (min-width: $breakpoint-tablet) {
    height: $header-height-tablet;
  }

  &__hamburger {
    @media screen and (min-width: $breakpoint-tablet) {
      display: none;
    }
  }
}
