.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;

  padding: 5px 10px;

  background-image: url("./../../../assets/images/photo/wall-vertical.png");
  background-repeat: repeat-y;
  background-size: cover;
}
