@import "./../../../../styles/variables";

.changerLanguageMobile {
  $margin: 50px;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: $margin;
  margin-bottom: $margin;

  &__text {
    margin-bottom: 10px;

    color: $color-mine-shaft;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 70px;
    height: 30px;

    cursor: pointer;
    opacity: 0.5;

    background-color: $color-alto;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: transform 0.15s ease-in-out;

    &:hover {
      transform: scale(105%);
    }

    &--active {
      opacity: 1;
    }
  }

  &__lang {
    font-size: 16px;

    text-transform: uppercase;
    color: $color-mine-shaft;
  }

  &__flag {
    width: 20px;
    height: 20px;

    border: 0.5px solid #000000;
    border-radius: 50%;
  }
}
