@import "./../../../styles/variables";
@import "./../../../styles/_mixins";

.navigation {
  &__list {
    display: none;

    @media screen and (min-width: $breakpoint-tablet) {
      display: flex;
    }
  }

  &__item {
    @include transformScale;

    color: $white;

    & + & {
      margin-left: 20px;
    }
  }
}
